@tailwind base;
@tailwind components;
@tailwind utilities;
 
@media (prefers-color-scheme: dark) {
  :root {
    --background:white;
    --foreground: #111010;
  }
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

:root {
  --background-color: white;
  --text-color: black;
}

.dark {
  --background-color: #1a202c;
  --text-color: #f7fafc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
